{% extends 'base.html' %}
{% block content %}
<div class="container">
  <h2>Add prodct </h2>
  <form class="form-inline" action="{{form_url}}"  method="post" enctype="multipart/form-data">
      {% csrf_token %}
  <div class="row">
    <div class="col-sm-4">
      <label>{{form.name.label}}</label>{{ form.name.errors }}
      {{form.name}}
    </div>
    <div class="col-sm-4">
       <label>{{form.color.label}}</label>{{ form.color.errors }}
      {{form.color}}
    </div>
    <div class="col-sm-4">
       <label>{{form.taste.label}}</label>{{ form.taste.errors }}
      {{form.taste}}
    </div>
  <div class="row" style="padding-top: 60px;">
    <div class="col-sm-4">
      <label>{{form.amount.label}}</label>{{ form.amount.errors }}
      {{form.amount}}
    </div>
  <div class="col-sm-4">
      <label>{{form.photo.label}}</label>{{ form.photo.errors }}
      {{form.photo}}
    </div>
    <form>
  <div class="col-sm-4" >
   <input class="btn btn-primary" type="submit" name="Save">
      </div>  
    </form>
  </div>
  
  
</div>











{% endblock%}