{% extends 'base.html' %}
    {% load static %}

    {% block head %}
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
            }

        th, td {
            text-align: left;
            padding: 8px;
            font-family: 'Roboto', sans-serif;
        }

        tr{
            background-color: #ffc305;
            }

        th {
            background-color: #c70039;
            color: white;
            font-family: 'Roboto', sans-serif;
            }


    </style>

{% endblock %}
{% block content %}
<div class="container">  

        <table class="table">
		<thead>
		<th><b>Name</b></th>
        <th><b>Color</b></th>
       	<th><b>Taste</b></th>
        <th><b>Amount</b></th>
        <th><b>Photo</b></th>
        <th><b>Edit</b></th>
		</thead>
		<tbody>
			{% for product in products %}
				<tr>
					<td>{{ product.name }}</td>
        			<td>{{ product.color }}</td>
       				<td>{{ product.taste }}</td>
        			<td>{{ product.amount }}</td>
                    <td>
                        {% if product.photo %}
                            <img src="{{product.photo.url}}" width="25" height="25"></td>
                        {% endif %}
        		
                    <td>
                        <a href="{% url 'product:edit' product.id %}">
                        change edit</a>
                    </td>
				</tr>
                 
			{% endfor %}
		</tbody>
        

        </table>
    
        </div>
{% endblock%}