<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
	
	<script data-require="jquery" data-semver="2.0.3" src="{% static 'js/jquery.min.js ' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block head %}
	{% endblock head %}

<style>
  .footer{
    padding-top: 400px;

  }
</style>












</head>




<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" >Home</a>
          
       
      

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">product <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'product:post_list' %}">Employee List</a></li>
            <li><a href="{% url 'product:create' %}">Add Employee</a></li>
          </ul>
        </li>
        
           
        </li>
      </ul>
    </div>
  </div>
</nav>
{% block content %}

{% endblock %}






	<!-- <div>
		<img class="imgg" src="/static/images/164899403-vegetables-wallpapers1.jpg">
	</div> -->

<div class="footer">
	<div class="container">
  	<div class="row">
    <div class="col-sm-4">
      <h4>Search</h4>
		<input type="text" name="Search" value="Enter your search">
		<h3>SOCIAL MEDIA</h3>
    	</div>
    	<div class="col-sm-4">
      <h4 class="ab">About Us</h4>
      <p class="abb">Established in 1979, NAS is an agricultural company owned by Sayyid Al Mutasim Bin Hamoud Al Busaidi. At Present NAS is cultivating over 1400 Acres, producing and exporting Sweet Melons, Watermelons, Beans, Green Peppers, Colour Sweet Bell Peppers, Cherry Tomatoes, Tomatoes, Cauliflower, Cabbage, Squash, Eggplants, Lettuce, Mango, Dates, Carrots and Lily Cut Flowers.</p>
    </div>
    <div class="col-sm-4">
      <h4 class="abcd">Contact us</h4>
      <p class="abc">Nehad Agronomy Services LLC<br>
					P.O Box-288,PC-315
					<br>
					Suwaiq
					<br>
					Sultanate Of Oman
					<br>
					Tel:+968 26-860108
					<br>

					Email:info@nehadagro.com
	</p>
    </div>
  </div>
</div>
</body>
  






<script type="text/javascript">
 
  $(document).ready(function() {
	  $('li.active').removeClass('active');
	  $('a[href="' + location.pathname + '"]').closest('li').addClass('active'); 
	});
  

</script>

</body>
</html> 